.side-panel {
    position: fixed;
    right: 0px;
    top: 59px;
    bottom: 40px;
    border-left: 1.5px solid #C0B6B6;
    width: 35%;
}

.section_title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50px;
    margin-top: 30px;
}

.event-card {
    background-color: white;
    margin: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 80%;
    min-width: 300px;
}

.event-card .event_title {
    background-color: #6B6060;
    width: 20%;
    min-width: 119px;
    text-align: center;
    top: 10px;
    margin: 10px;
    padding: 6px;
    border-radius: 0px 0px 3px 3px;
    font-size: 20px;
    color: white;
}

.start_time,
.end_time {
    display: inline-block;
    margin: 20px;
}
.end_time {
    float: right;
}
.time {
    border-bottom: 1.5px solid #251D1D;
}

/* Change styles for side_panel on extra small screens */
@media screen and (max-width: 600px) {
    .side-panel {
        position: static;
        border-left: none;
    }
  }