<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name=”viewport” content=”width=device-width, initial-scale=1.0">
        <title>place holder</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../statics/styles/login.css" />
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="../statics/scripts/login.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body id="page-top">
            <nav class="navbar navbar-expand-lg navbar-light fixed-top py-0" id="mainNav">
                <div class="container px-4 px-lg-5">
                    <a class="navbar-brand" href="#page-top">SchoolHub</a>
                    <button class="navbar-toggler navbar-toggler-right col-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ms-auto my-2 my-lg-0">
                            <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                            <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <section class="">
                <header class="masthead" id="about">
                    <div class="container px-4 px-lg-5 h-100">
                        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                            <div class="col-lg-8 align-self-end">
                                <h1 class="text-white font-weight-bold">The all-in-one solution for student organisation</h1>
                                <hr class="divider" />
                            </div>
                            <div class="col-lg-8 align-self-baseline">
                                <p class="text-light mb-5">Organize your school grades, calculate your GPA and plan your events all in one place</p>
                                <button id="login_btn">Login</button>
                                <button id="signin_btn">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </header>

                <!-- login Modal -->
                <div id="id01" class="modal">
                    <!-- Modal Content -->
                    <form class="modal-content animate" id="login-form" method="post">
                        <div class="imgcontainer">
                            <div class="SchoolHub"><h3>SchoolHub</h3></div>
                        </div>
                        <div class="container">
                            <label for="uname"><b>Username</b></label>
                            <input type="text" placeholder="Enter Username" name="username" id="login-username" required>

                            <label for="psw"><b>Password</b></label>
                            <input type="password" placeholder="Enter Password" name="password" id="login-password" required>

                            <button type="submit">Login</button>
                            <label>
                                <input type="checkbox" checked="checked" name="remember"> Remember me
                            </label>
                        </div>

                        <div class="container" style="background-color:#f1f1f1">
                            <button type="button" class="cancelbtn">Cancel</button>
                            <span class="psw">Forgot <a href="#">password?</a></span>
                        </div>
                    </form>

                    
                </div>
                <div class="error-msg"></div>


                <!--sign in modal-->
                <div id="id02" class="modal">
                    <!-- Modal Content -->
                    <form class="modal-content animate" id="register-form" action="/register" method="post">
                        <div class="imgcontainer">
                            <div class="SchoolHub"><h3>SchoolHub</h3></div>
                        </div>
                        <div class="container">
                            <label for="uname"><b>Username</b></label>
                            <input type="text" placeholder="Enter Username" name="username" id="username" required>
                            <div class="hide_str">username taken</div>

                            <label for="password"><b>Password</b></label>
                            <input type="password" id="password"  placeholder="Enter Password" name="password" required>

                            <label for="cnf-password"><b>Confirm Password</b></label>
                            <input type="password" id="confirm-password"  placeholder="Enter Password" name="cnf-password" required>

                            <div id="hide_str">password not matched</div>

                            <button type="submit">Sign Up</button>
                            <label>
                                <input type="checkbox" checked="checked" name="remember"> Remember me
                            </label>
                        </div>

                        <div class="container" style="background-color:#f1f1f1">
                            <button type="button" class="cancelbtn">Cancel</button>
                            <span class="psw">Forgot <a href="#">password?</a></span>
                        </div>
                    </form>
                </div>
            </section>

            <section class="section-2" id="services">
                <!--About-->
                <div class="row mt-5 mx-4">
                    <div class="col-12 card m-2 p-3">
                        <h2>Create courses by semester</h2>
                        <p>each course can be created for for each semester and each year for up to year 5</p>
                        <img src="../statics/images/sh_settings.png" class="img-fluid max-width: 100%; height: auto;" alt="">
                    </div>
                    <div class="col-12 card m-2 p-3">
                        <h2>Record grade for each course by semester</h2>
                        <p>Nigerian university grading system is used to calculate and store grades for each semester and year</p>
                        <img src="../statics/images/sh_grades.png" class="img-fluid max-width: 100%; height: auto;" alt="">
                    </div>
                    <div class="col-12 card m-2 p-3">
                        <h2>Never forget an event</h2>
                        <p>add events to your time table so that you never miss an event</p>
                        <img src="../statics/images/sh_evets.png" class="img-fluid max-width: 100%; height: auto;" alt="">
                    </div>
                </div> 
            </section>
            <section class="section-3">
                <!--contact-->
                <div class="row bg-white my-5 rounded p-3">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <h2>About dev</h2>
                        <p>Hi there, my name is Omogware Reinhard, i am a junior fullstack developer with a strong afinity towards back end development.
                            this project was built as my portfolio project, it was a project built to solve a need i was facing, which was having
                            a smart and efficient way of keeping track of my grades and planning events. i hope others can also find this helpful.
                        </p>
                    </div>
                </div>
            </section>


        <footer class="footer bg-dark text-center text-white" id="contact">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
              <!-- Section: Social media -->
              <section class="mb-4">
          
                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/Reinhard_uno?t=JKVPv3ID0Cj9LiqtgkmH-g&s=09" role="button"
                  ><i class="fab fa-twitter"></i
                ></a>
          
          
                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/reinhard-omogware-2938a9240" role="button"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
          
                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/reinhardcode/SchoolHub" role="button"
                  ><i class="fab fa-github"></i
                ></a>
              </section>
              <!-- Section: Social media -->
            </div>
            <!-- Grid container -->
          
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
              © 2023 Copyright:
              <a class="text-white" href="#">SchoolHub</a>
            </div>
            <!-- Copyright -->
          </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>