<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name=”viewport” content=”width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../statics/styles/header.css"/>
        <link rel="stylesheet" type="text/css" href="../statics/styles/side_panel.css"/>
        <link rel="stylesheet" type="text/css" href="../statics/styles/footer.css"/>
        <link rel="stylesheet" type="text/css" href="../statics/styles/home.css"/>
        <link rel="stylesheet" type="text/css" href="../statics/styles/settings.css"/>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="../statics/scripts/settings.js"></script>
        <script src="../statics/scripts/side_panel.js"></script>
        <title></title>
    </head>
    <body>
        <header>
            <span class="logo">SchoolHub</span>
            <nav class="topnav">
                <a href="{{ url_for('page_views.home') }}">Home</a>
                <a class="active" href="{{ url_for('page_views.settings') }}">Settings</a>
                <a href="{{ url_for('page_views.grades') }}">Grades</a>
                <a href="{{ url_for('page_views.events') }}">Events</a>
            </nav>
        </header>
        <div class="midle_container">
            <section class="page-content">
                <!--fill  this part-->
                <img src="../statics/images/Untitled design.png" class="user_image">
                <div class="info_wrapper">
                    <div id="username">Reinhard</div>
                    <div class="school_details">
                        <div class="dropdown_semester">
                            <select id="dropdown1" name="dropdown1">
                                <option class="1">1st semester</option>
                                <option class="2">2nd semester</option>
                            </select><br><br>
                        </div>
                        <div class="dropdown_year">
                            <select id="dropdown2" name="dropdown2">
                                <option class="1">1st year</option>
                                <option class="2">2nd year</option>
                                <option class="3">3rd year</option>
                                <option class="4">4th year</option>
                                <option class="5">5th year</option>
                            </select><br><br>
                            </form>
                        </div>
                    </div>
                    <button id="set">Set Default</button>

                </div>
                <div class="courses_data">
                    <div class="courses_header">Courses</div>
                    <div class="course_list">
                        
                    </div>
                </div>
                <div class="buttons_wrapper">
                    <button id="edit_button">Add</button>
                    <div class="edit-add_modal">
                        <form class="edit_form" id="edit_form">
                            <div><h3>Add/Edit Course</h3></div>

                            <label for="cname"><b>Course Name*</b></label>
                            <input type="text" placeholder="Enter Course name" name="cname" maxlength="9" id="course_name" required>

                            <label for="desc"><b>Discription</b></label><br>
                            <!--<input type="text" placeholder="Enter description" name="desc">-->
                            <textarea name="desc" rows="4" cols="35" placeholder="Enter Course description" maxlength="50" id="course_disc"></textarea>
                            <div>
                                <button type="submit">Save</button>
                                <button type="button" class="cancelbtn">Cancel</button>
                            </div>
                        </form>
                    </div>
                    <button id="delete_button">Delete</button>
                    <!--<div class="default_info">
                        
                    </div>-->
                    <div class="logout">
                        <a href="{{ url_for('page_views.logout') }}"><button>Logout</button></a>
                    </div>
                </div>
                
            </section>
            <section class="side-panel">
                <h2 class="section_title">Today's Events</h2>
            </section>
        </div>
        <footer>
            <span>&copy; 2023 SchoolHub</span>
        </footer>
    </body>
</html>