.page-content {
    margin-top: 70px;
    width: 65%;
}

table {
    border-collapse: collapse;
  }

.grades_table {
    margin-left: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
th {
    padding: 10px 7px;
}

tr {
      border-bottom: 1px solid #ddd;
      margin-bottom: 10px;
    }

td {
    padding: 10px;
}

.edit_class {
    margin-left: 20px;
    margin-top: 10px;
}

button {
    background-color: #6B6060;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 10px 7px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

button:hover {
    opacity: 0.8;
  }

.grades_title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 20px;
}

.grade_point {
    margin-top: 30px;
}

/* rules for the modals for edit add button*/
input[type=number], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }


.edit-add_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.edit_form {
    background-color: #fefefe;
    padding: 15px;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
    max-width: 350px;
    border-radius: 5px;
}

.edit_form textarea {
    resize: none;
    margin: 10px 0px;
}

#coming_soon {
    width: 200px;
    margin-left: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

input[type="number"] {
    width: 200px;
    display: block;
}