body {
    background-color: #F7F7F7;
    
}
.page-content {
    margin-top: 60px;
    width: 100%;
}
.school_image {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    height: 28%;
    width: 90%;

}

.quote_header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 15px;
    font-size: 20px;
    margin-top: 30px;
}

.quote {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
    background-color: #E9E9E9;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
}


footer span {
    padding-top: 5px;
    color: gray;
    vertical-align: middle;
    text-align: center;
}

/* Change styles for side_panel on extra small screens */
@media screen and (min-width: 700px) {
    .page-content {
        margin-top: 50px;
        width: 65%;
    }
    .school_image {
        margin-top: 40px;
        margin-left: 10px;
        border-radius: 5px;
        height: 14%;
        width: 80%;
    
    }
    
  }